@using GigHub.Models
@model GigHub.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1 style="margin-bottom: 30px;">@Model.Heading</h1>
<ul class="gigs">
    @foreach (var item in Model.LatestGigs)
    {
        <li>
            <div class="date">
                <div class="month">
                    @item.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @item.DateTime.ToString("d ")
                </div>

            </div>
            <div class="details">
                <span class="artist">
                    @item.Artist.Name
                </span>
                <span class="genre">
                    @item.Genre.Name
                </span>
                @if (Model.AutheticatedUser)
                {
                    <button data-gig-id="@item.Id" class="btn btn-sm btn-default js-toggle-attendence">
                        Going ?
                    </button>
                    <button data-user-id="@item.ArtistId" class="btn btn-sm btn-default pull-right js-toggle-follow">
                        Follow
                    </button>
                }
            </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendence").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendences", { gigId: button.attr("data-gig-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });

            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-warning")
                            .text("Following");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });


        });



    </script>
}
